.header {
  height: 150px;
  margin: 1rem;
}

.addCoin {
  display: block;
  padding: 1rem;
}

.header h1,
.header > span {
  padding: 0.5em;
}

.header h1 {
  font-size: 3rem;
}

input {
  margin-right: 0.5rem;
}

.addCoin button {
  padding: 0.35rem;
  border-radius: 12px;
  background: #3acc8a;
  color: white;
  font-family: "Roboto" sans-serif;
  font-weight: bold;
  border-style: none;
}
